@model IEnumerable<RepairHub.Domain.Dtos.ApplicationDto>
@inject IEntityService<Status> status
@inject IEntityService<Problem> problem
@inject IEntityService<Equipment> equipment
@inject IEntityService<WorkStatus> workstatus
@inject IEntityService<Employee> employee

@{
    ViewData["Title"] = "Заявки";
    var statuses = await status.GetAll();
    var problems = await problem.GetAll();
    var equipments = await equipment.GetAll();
    var workstatuses = await workstatus.GetAll();
    var employees = await employee.GetAll();
}
<a asp-action="Create" class="btn btn-primary col-auto py-2">Добавить новую заявку</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkStatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @statuses.First(x => x.Id == item.StatusId).Name
            </td>
            <td>
                @problems.First(x => x.Id == item.ProblemId).Name
            </td>
            <td>
                @equipments.First(x => x.Id == item.EquipmentId).Name
            </td>
            <td>
                @workstatuses.First(x => x.Id == item.WorkStatusId).Name
            </td>
            <td>
                @employees.First(x => x.Id == item.EmployeeId).Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td class="text-end">
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
